#backgroundPopup {
    z-index: 1;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000;
    top: 0px;
    left: 0px;
}

#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    /*border: 10px solid #4687ee;
    border-radius: 5px;
    color: #333333;
    */
    display: none;
    font-size: 14px;
    position: fixed;
    /*top: 45%;
    left: 50%;
        */
    width: 75%;  
    z-index: 2;
}

#toPopup table {
    font-size: 35px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    background-color: #fff;
}

#toPopup table th,td{
    padding: 2px;
    border: 1px solid #000;
}

div.loader {
    /*background: url("../images/loading81.gif") no-repeat scroll 0 0 transparent;*/
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}

/*div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 60px;
    width: 58px;
    position: absolute;
    right: -50px;
    top: -25px;
}*/

span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}

span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

div#popup_content {
    margin: 4px 7px;
    text-align: center;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}

#kovetkezo_termek{
    background-color: #0367b3;
    font-size: 25px;
    color: #fff;
    margin-top: 75px;
    padding: 5px;
}

